h1, h3 {
    color: midnightblue;
}
header, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Courier New";
}
input {
    font-family: "Courier New";
    color: midnightblue;
    border-radius: 4px;
}

